@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/scrollbar";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", "Helvetica";
}

html,
main {
  /* background: #ffffff; */
  background-image: url("/public/bg-03-01.png");
  background-size: contain;
  /* background-repeat: repeat; */
  background-position: center;
  background-attachment: fixed;
  /* height: 100vh; */
}
body {
  font-family: "Montserrat", "Helvetica", sans-serif;
  color: #000000;
  max-width: 500px;
  margin: 0 auto;
}

.main-btn {
  white-space: nowrap;
  background: #f7ca11;
  border-radius: 25px;
  padding: 10px 5%;
  width: 100%;
}

.not-active-btn {
  white-space: nowrap;
  background: #e3e3e3;
  border-radius: 25px;
  padding: 10px 5%;
  width: 100%;
}

.swiper {
  overflow-y: visible !important;
  display: grid !important;
}

.swiper-horizontal {
  display: grid !important;
}

.active__category {
  background: rgba(0, 0, 0, 0.15);
  border-radius: 25px;
}

/* .ant-radio-checked::after {
  color: #f7ca11 !important;
  background: #f7ca11 !important;
} */

@media (max-width: 367px) {
  .main-btn {
    padding: 7px 5%;
  }
}
